tags
*.vcxproj*
*.sln
cmake_install.cmake
Win32
CMakeFiles
.vscode/cquery_cached_index
.vscode/ipch
CMakeCache.txt
**/*.o
**/*.d
target
bin
chuck-bin
chuck-src
**/chuck.tab.c
**/chuck.tab.h
**/chuck.yy.c
**/chuck.output
# .ptags.toml
core/html
core/doxygen_log.txt
core/doxygen_objdb*
doxygenlog.txt
docs
dox
**/*.log
doxygen.log
*.code-workspace
.ccls-cache/*
.ccls-cache/**/*
.ccls-cache
.ninja*
# chuck-sys
cbindgen*
achuck
pchuck
jchuck